{% extends 'base.html' %}

{% load static %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/signin_page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} &#9702; Sign in {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  {{ block.super }}
  <div id="outerDiv" class="center-screen">
    <img style="margin-bottom: 3%;" src="{% static '/images/favicons/new_logo.svg' %}" alt="Logo">
    <div id="innerDiv">
      <p id="signUpHeader">Sign in</p>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% for field in form %}
          
          {% if field.name == 'remember'%}
            <div style="text-align: right;" class="my-form-group">
          {% else %}
            <div class="my-form-group">
          {% endif %}
            <label class="forms-labels" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" id="signInButton">Sign in</button>
      </form>
    </div>
    <div id="underSignUp">
      <a href="{% url 'account_reset_password' %}">
        <p class="links">
          Forgot Password?
        </p>
      </a>
      <p style="margin-left: 16px;" class="texts">
        •
      </p>
      <p style="margin-left: 16px;" class="texts">
        don’t have an account yet?
      </p>
      <a href="{% url 'account_signup' %}">
        <p class="links">
          Sign Up
        </p>
      </a>
    </div>
  </div>
{% endblock %}
