{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} &#9702; Sign in {% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
  {{ block.super }}
  <div class="container centered">
    <div class="row justify-content-center">
      <div class="user-form-wrap col-6">
        <img id="allauth-image" style="width: 15vw; margin-bottom: 4%;" src="{% static '/images/favicons/new_logo.svg' %}" alt="Logo">
        <hr class="mt-0 mb-4">
        <p>If you do not have an account yet, then please <a class="my-link" href="{{ signup_url }}">sign up</a> first.</p>
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="myAction">
            <button style="float: left;" type="submit" class="btn my-button">Sign in</button>
            <a class="my-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}