{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} &#9702; Sign in {% endblock %}

{% block content %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <i style="margin-right: .5%;" class="fas fa-check-circle"></i><strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {% endfor %}
  <div class="container centered">
    <div class="row justify-content-center">
      <div class="user-form-wrap col-6">
        <img id="allauth-image" src="{% static '/images/favicons/logo_transparent_resized.png' %}" alt="Logo">
        <hr class="mt-0 mb-4">
        <p>If you do not have an account yet, then please <a class="my-link" href="{{ signup_url }}">sign up</a> first.</p>
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn my-button">Sign in</button>
          <a class="myAction my-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}