{% extends "base.html" %}

{% block title %} &#9702; Sign Out {% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container centered">
    <div class="row justify-content-center">
      <div class="user-form-wrap col-6">
        <h2 class="form-headers">Sign Out</h2>
        <hr class="mt-0 mb-4">
        <p>Are you sure you want to sign out?</p>
        <form method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          
          <button class="btn btn-danger my-button" type="submit">Sign Out</button>
          <a style="color: white;" class="btn my-button" href="/">No</a>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
