{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} &#9702; Change Password{% endblock %}


{% block content %}

    <div class="container centered">
        <div class="row justify-content-center">
            <div class="user-form-wrap col-6">

                <h3>Change Password</h3>
                <hr class="mt-0 mb-4">
                <form method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button class="btn my-button" type="submit" name="action">Change</button>
                </form>
            </div>
        </div>
    </div>
    

{% endblock %}
