{% extends "base.html" %}

{% load i18n %}
{% load account %}


{% load crispy_forms_tags %}
{% block title %} &#9702; Password Reset {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
    <div class="container centered">
        <div class="row justify-content-center">
            <div class="user-form-wrap col-6">
                <h3>{% trans "Password Reset" %}</h3>
                <hr class="mt-0 mb-4">
                <form method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form | crispy}}
                <input class="btn my-button" type="submit" value="{% trans 'Reset' %}" />
                </form>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
