{% extends "base.html" %}

{% load i18n %}

{% block title %} &#9702; Set Password {% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container centered">
        <div class="row justify-content-center">
            <div class="user-form-wrap col-6">
                <h3>{% trans "Set Password" %}</h3>
                <hr class="mt-0 mb-4">
                <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn my-button" type="submit" name="action" value="{% trans 'Set' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
