# virtual enviroment folders
bin/
lib/



*.pyc
label_buddy/*.png
label_buddy/media/audio/*
label_buddy/media/images/*
extract_folder/

# local settings and db ignonred
label_buddy/db.sqlite3
label_buddy/label_buddy/local_settings.py