{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% block head_files %}
    <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicons/favicon.ico' %}" />
    <!-- My css-->
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Goole fonts API-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Georama|Lato">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- My JavaScript -->
    <script src="{% static 'js/common.js' %}"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endblock %}

    <title>
      {% block title %}{% endblock %}
    </title>
</head>

<body>
  {% block navbar %}
    <nav class="navbar navbar-expand-md navbar bg-light sticky-top py-0">
      <a class="navbar-brand py-0" href="/">
        <img src="{% static '/images/favicons/new_logo.svg' %}" title="Label Buddy">
      </a>
      {% if user.is_authenticated %}
        <div style="border-left: 2px solid white;" class="collapse navbar-collapse py-0" id="navbarNavAltMarkup">
      {% else %}
        <div class="collapse navbar-collapse py-0" id="navbarNavAltMarkup">
      {% endif %}
        {% if user.is_authenticated %}
          {% block breadcrumbs %}{% endblock %}
        {% endif %}
        <div class="navbar-nav  ml-auto">
          {% if user.is_authenticated %}
            <div class="btn-group dropleft py-0">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar-list-4">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img style="border: 1px solid #74deee;" src="{{ user.avatar.url }}" width="39" height="39" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <h6 class="dropdown-header user-round-icon">
                        <img style="margin-right: 8%;" src="{{ user.avatar.url }}" width="40" height="40" class="rounded-circle">
                        <b> Hi, {{ user.username }}</b>
                      </h6>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'edit_user' user.username %}"> <i class="fas fa-user-edit drop-down"></i> Edit profile</a>
                      <a class="dropdown-item" href="/accounts/password/change"> <i class="fa fa-lock drop-down" aria-hidden="true"></i> Change password</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/accounts/logout"> <i class="fas fa-sign-out-alt drop-down"></i> Sign out</a>
                    </div>
                  </li>
                </ul>
            </div>
          {% else %}
            <a class="nav-item nav-link my-link" href="{% url 'account_login' %}">SIGN IN</a>
            <a class="nav-item nav-link my-link" href="{% url 'account_signup' %}">REGISTER</a>
          {% endif %}
        </div>
      </div>
    </nav>
  {% endblock %}
  
  {% block content %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i style="margin-right: .5%;" class="fas fa-check-circle"></i><strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i style="margin-right: .5%;" class="fas fa-times-circle"></i><strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i style="margin-right: .5%;" class="fas fa-exclamation-triangle"></i><strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
    {% endfor %}

  {% endblock %}

  {% block footer %}
    <!-- Footer -->
    <footer class="page-footer font-small fixed-bottom">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-2 footer-div">
        &copy;Powered by Google Summer of Code with <a class="my-link" href="https://gfoss.eu/" target="_blank">GFOSS</a>
        <a class="my-link" href="https://github.com/eellak/gsoc2021-audio-annotation-tool" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  {% endblock %}
 
</body>
</html>