<div class="dropdown show">
    <a style="margin-right: .1%; color: black;" class="btn my-button my-button-page" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i style="margin-right: 10%;" class="fas fa-filter"></i> Filters
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div style="margin-left: 10%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="labeled">
            <label class="form-check-label" for="flexCheckDefault">
              Labeled
            </label>
        </div>
        <div style="margin-left: 10%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="unlabeled">
            <label class="form-check-label" for="flexCheckChecked">
              Unlabeled
            </label>
        </div>
        <div class="dropdown-divider"></div>
        <div style="margin-left: 10%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reviewed">
            <label class="form-check-label" for="flexCheckDefault">
                Reviewed
            </label>
        </div>
        <div style="margin-left: 10%;" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="unreviewed">
            <label class="form-check-label" for="flexCheckChecked">
                Unreviewed
            </label>
        </div>
        <div class="dropdown-divider"></div>
        <a onclick="filter_tasks()" style="text-align: center;" class="dropdown-item" href="javascript:void(0);"><b>Apply</b></a>
    </div> 
</div>