<nav aria-label="Page navigation example">
    <div style="text-align: center; margin-top: 1.5%;">
        {% if page_obj.has_previous %}
        <a style="color: #1F282D;" title="First page" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
        <a style="color: #1F282D; margin-left: 1%;" title="Previous page" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        {% else %}
            <i style="color: #CFD8DC;" class="fas fa-angle-double-left"></i>
            <i style="color: #CFD8DC; margin-left: 1%;" class="fas fa-angle-left"></i>
        {% endif %}

        <span style="margin-left: 1%; font-family: Roboto; font-weight: normal; font-size: 14px;">page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b></span>

        {% if page_obj.has_next %}
            <a style="color: #1F282D; margin-left: 1%;" title="Next page" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            <a style="color: #1F282D; margin-left: 1%;" title="Last page" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        {% else %}
            <i style="color: #CFD8DC; margin-left: 1%;" class="fas fa-angle-right"></i>
            <i style="color: #CFD8DC; margin-left: 1%;" class="fas fa-angle-double-right"></i>
        {% endif %}
    </div>
</nav>