<div class="modal fade" id="reviewPageModal" tabindex="-1" role="dialog" aria-labelledby="reviewPageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><b>How to review</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <div>
                Inspect the annotation completed by the user. Leave a comment in the corresponding
                field and submit you review.<br><br>

                <b style="color:  #5cb85c;">Approve</b> annotation if you did not find any <b>wrong</b> labels.<br><br>
                <b style="color: #d9534f;">Reject</b> annotation if there is a labeld tagged which does not make sense. Let
                the annotator know the regions that should be modified. Once the annotator updates the annotation you will be able
                to review it again.
            </div>
        </div>
    </div>
    </div>
</div>