#waveform {
    /* margin-left: 1%;
    margin-right: 1%; */
    position: relative;
}

#wave-timeline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#back-project-btn {
    float: left;
    margin-left: 1%;
}

#labels-div {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    /* border: 1px solid black; */
}

#annotation-btn-div {
    text-align: center;
    margin-top: 3%;
}

#play-pause-btn-div {
    text-align: left;
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 1%;
}


/* .inner-grid {
    margin-top: 5%;
} */
.outer-wave {
    margin-left: 1%;
    margin-right: 1%;
}
.my-badge {
    font-size: 22px; 
    border: none; 
    color: white;
    cursor: pointer;
}

.my-badge:focus {
    outline: none;
    box-shadow: none;
}

.annotation-buttons:focus {
    outline: none;
    box-shadow: none;
}
.annotation-buttons {
    width: 100px;
    height: 100px;
}

.play-pause-buttons {
}

.play-pause-buttons:focus {
    outline: none;
    box-shadow: none;
}

.annoation-header {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: 'Georama';
    text-shadow: 2px 2px 2px #aaa;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}