#waveform {
    /* border: 1px solid black; */
    margin-left: 1%;
    margin-right: 1%;
}

#wave-timeline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#play-pause-button {
    float: left;
    margin-left: 1%;
    margin-top: .5%;
}

#play-pause-button:focus {
    outline: none;
    box-shadow: none;
}

#labels-div {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
}

.my-badge {
    color: white;
}
.annotation-buttons:focus {
    outline: none;
    box-shadow: none;
}
.annotation-buttons {
    float: right;
    margin-right: 1%;
    margin-top: .5%;
}