#waveform {
    /* border: 1px solid black; */
    margin-left: 1%;
    margin-right: 1%;
}

#wave-timeline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}



#labels-div {
    
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    /* border: 1px solid black; */
}



.my-badge {
    font-size: 13px; 
    border: none; 
    color: white;
    cursor: pointer;
}

.my-badge:focus {
    outline: none;
    box-shadow: none;
}

.annotation-buttons:focus {
    outline: none;
    box-shadow: none;
}
.annotation-buttons {
    float: right;
    margin-right: 1%;
    margin-top: .5%;
}

.play-pause-buttons {
    float: left;
    margin-left: 1%;
    margin-top: .5%;
}

.play-pause-buttons:focus {
    outline: none;
    box-shadow: none;
}