#waveform {
    /* margin-left: 1%;
    margin-right: 1%; */
    position: relative;
}

#wave-timeline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#header-div {
    /* border: 2px solid purple; */
    margin-top: 2%;
    text-align: right;
    margin-left: 1%;
    margin-right: 1%;
}

#annotation-btn-div {
    width: 100%;
    text-align: center;
    margin-right: 1%; 
    margin-left: 1%;
    margin-top: 2%;
}

#commentDiv {
    /* border: 2px solid green; */
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

#commentArea {
    height: 80%;
    /* background-color: rgb(245,245,245); */
}

#play-pause-btn-div {
    text-align: left;
    margin-top: .5%;
}

#right-main-div {
    /* border: solid 2px purple; */
    margin-left: 1%;
    margin-right: 1%;
}

#left-main-div {
    border: 1px solid #007bff;
    background-color: rgb(245,245,245);
    margin-left: 1%;
    border-radius: 5px;
}

#regions-div {
    max-height: 280px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#regions-div::-webkit-scrollbar {
    display: none;
}




/* classes */

.my-badge {
    font-size: 22px; 
    border: none; 
    color: white;
    cursor: pointer;
}

.my-badge:focus {
    outline: none;
    box-shadow: none;
}

.annotation-buttons:focus {
    outline: none;
    box-shadow: none;
}
.annotation-buttons {
    width: 100px;
    height: 100px;
}

.play-pause-buttons:focus {
    outline: none;
    box-shadow: none;
}

/* Style the button that is used to open and close the collapsible content */


.region-buttons {
    margin-top: 2px;
    background-color: rgb(245,245,245);
    color: black;
    text-align: left;
    width: 100%;
    font-size: 15px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.region-buttons.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region-buttons:focus {
    outline:none !important;
    box-shadow: none;
}

h1,h2,h3 {
    vertical-align:middle;
}

  h1>.badge, h2>.badge, h3>.badge {
    vertical-align:middle;
    
}

textarea:focus {
    border-color: rgba(116, 222, 237) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(116, 222, 237, .6) !important;
    outline: 0 none !important;
}



