@charset "UTF-8";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(245,245,245);
    color: black;
    text-align: center;
}


.myAction {
    margin-left: 60%;
}

.user-form-wrap {
    background-color: rgb(245,245,245);
    padding: 3%;
    border-radius: 10px;
    margin: 2%;

}

#allauth-image {
    display:block;
    margin:auto;
}

.user-round-icon {
    background-color:rgb(245,245,245);
}

.my-button {
    background-color: rgb(116, 222, 237);
}

.my-link {
    color: rgb(116, 222, 237);
}

