@charset "UTF-8";

:root {
    --basic_color: #74deed;
}

table
{
    table-layout: fixed;
    width: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


.myAction {
    margin-left: 55%;
}

.user-form-wrap {
    background-color: rgb(245,245,245);
    padding: 3%;
    border-radius: 10px;
    margin: 2%;
}

#allauth-image {
    display:block;
    margin:auto;
}

.user-round-icon {
    background-color:rgb(245,245,245);
}

.my-button {
    width: 100px;
    background-color: var(--basic_color);
}

.my-button-page {
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .5%;

}

.my-table-button {
    background-color: var(--basic_color);
    height: 30px;
}

.my-link {
    color: var(--basic_color);
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.my-custom-scrollbar {
    margin-left: 1%;
    margin-right: 1%;
    /* position: relative;
    height: 500px;
    overflow: auto; */
}

.table-wrapper-scroll-y {
    display: block;
}

.drop-down {
    margin-right: 8%;
}

.my-table-header {
    margin-right: 4%;
}

.my-small-btn {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    
}

