#edit-link {
    text-decoration: none !important;
    margin-right: 20%;
    color:  #5cb85c;
}

#delete-link {
    margin-left: 20%;
    color: #d9534f;
}
.table-title {
    font-size: 13px;
    /**Major Properties**/
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}