body {
    padding-bottom: 0%;
}

.texts {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: inline;

    color: #9595A6;


    /* Inside Auto Layout */
}

#outerDiv {
    background: linear-gradient(180deg, #22203D 23.73%, #29215E 97.46%);
}

#innerDiv {
    background-color: white;
    padding: 32px;
    border-radius: 4px;
    width: 25vw;
}

#underReset {
    margin-top: 2%;
    /* border: 2px solid red; */
    width: 25vw;
    text-align: center;
}