.audio-player {
    width: 100%; 
    height: 25px; 
    outline: 0;
}

p {
    margin-left: 3%;
}

.table-title {
    font-size: 13px;
    /**Major Properties**/
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}