#waveform {
    /* margin-left: 1%;
    margin-right: 1%; */
    position: relative;
}

#wave-timeline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#header-div {
    /* border: 2px solid purple; */
    margin-top: 2%;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
}

#review-btn-div {
    text-align: center;
    margin-top: 2%;
    border: 2px solid palevioletred;
}

#play-pause-btn-div {
    text-align: left;
    margin-top: .5%;
}

#right-main-div {
    /* border: solid 2px purple; */
    margin-left: 1%;
    margin-right: 1%;
}

#left-main-div {
    border: 3px solid #74deed;
    background-color: rgb(245,245,245);
    margin-left: 1%;
    border-radius: 5px;
}

#regions-header {
    text-align: center;
    font-family: 'Georama';
    text-shadow: 2px 2px 2px #aaa;

    font-size: 1.5em;
    text-align: center;
}

#regions-div {
    max-height: 270px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#regions-div::-webkit-scrollbar {
    display: none;
}

/* classes */

.my-badge {
    font-size: 22px; 
    border: none; 
    color: white;
    cursor: pointer;
}

.my-badge:focus {
    outline: none;
    box-shadow: none;
}

.annotation-buttons:focus {
    outline: none;
    box-shadow: none;
}
.annotation-buttons {
    width: 100px;
    height: 100px;
}

.play-pause-buttons {
}

.play-pause-buttons:focus {
    outline: none;
    box-shadow: none;
}

/* Style the button that is used to open and close the collapsible content */


.region-buttons {
    margin-top: 2px;
    background-color: rgb(245,245,245);
    color: black;
    text-align: left;
    width: 100%;
    font-size: 15px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.region-buttons.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region-buttons:focus {
    outline:none !important;
    box-shadow: none;
}
