{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/annotation_page.css' %}" rel="stylesheet" type="text/css">

    <!-- wavesurfer.js -->
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- plugins -->
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js"></script>

    <script type="text/javascript"> 
        var audio_url = "{{ task.file.url }}";
        var task_id = "{{ task.id }}";
        var project_id = "{{ project.id }}";
        var django_csrf_token = "{{ csrf_token }}";
        var annotation = JSON.parse("{{annotation|escapejs}}");
    </script>
    <script src="{% static '/js/annotation_page.js'%}" defer></script>
{% endblock %}

{% block title %} &#9702; Annotation{% endblock %}

{% block navbar_buttons %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="top-div">
        <img style="border: 2px solid #74deed; float: left;" src="{{ project.logo.url }}" width="30" height="30" data-toggle="modal" data-target="#informationModal" href="" title="{{ project.title }} information" class="rounded-circle">
        <i style="margin-top: .4%;" class="fas fa-angle-right top-icons"></i>
        <a title="Project instructions" class="my-link top-icons" data-toggle="modal" data-target="#instructionsModal" href=""><i class="fas fa-info"></i></a>
    </div>
    <h2 title="{{ task.original_file_name }}"class="annoation-header">Audio: {{ task.original_file_name }}</h2>
    {% if next_unlabeled_task_id == -1 %}
        <a title="Next unlabeled task" href="{% url 'annotation_page' project.id task.id %}"><button class="btn my-button annotation-buttons">Next <i style="margin-left: 10%;" class="fas fa-caret-right"></i></button></a>
    {% else %}
        <a title="Next unlabeled task" href="{% url 'annotation_page' project.id next_unlabeled_task_id %}"><button class="btn my-button annotation-buttons">Next <i style="margin-left: 10%;" class="fas fa-caret-right"></i></button></a>
    {% endif %}
    <a title="Back to project page" href="{% url 'project_page' project.id %}"><button class="btn my-button annotation-buttons"><i style="margin-right: 10%;" class="fas fa-caret-left"></i> Project</button></a>

    {% if labels_count %}
        <div id="labels-div">
            {% for label in labels.all %}
                <button style="background-color: {{ label.color }};" class="badge my-badge badge-pill" value="{{ label.name }}" onclick="selectedLabel(this)">{{ label.name }}</button>
            {% endfor %}
        </div>
    {% endif %}
    <div id="wave-timeline"></div>
    <div class="outer-wave"><div id="waveform"></div></div>
    <button title="Play/Pause audio"id="play-pause-button" class="btn my-button play-pause-buttons" onclick="wavesurfer.playPause(); toggleIcon(this);"> <i style="margin-right: 10%;" class="fas fa-play"></i> Play</button>
    <button class="btn my-button play-pause-buttons" onclick="backwardAudio();"><i class="fas fa-backward"></i></button>
    <input style="float: left; width: 100px; margin-top: 2%; margin-left: 1%;" type="range" class="custom-range" id="zoom-slider">

    <button title="Save annotation" class="btn my-button annotation-buttons" onclick="submitAnnotation();"><i style="margin-right: 10%;" class="fas fa-save"></i> Save</button>
    <button title="Delete region" class="btn btn-danger my-button annotation-buttons" id="delete-region-btn" disabled onclick="removeRegion(this);"><i class="fas fa-trash-alt"></i></button>
    {% include "project_modals.html" %}
    {% include "project_information_modal.html" %}
{% endblock %}