{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/annotation_page.css' %}" rel="stylesheet" type="text/css">

    <!-- wavesurfer.js -->
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- plugins -->
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js"></script>


    <script type="text/javascript"> 
        var audio_url = "{{ task.file.url }}";
        var task_id = "{{ task.id }}";
        var project_id = "{{ project.id }}";
        var django_csrf_token = "{{ csrf_token }}";
        var annotation = JSON.parse("{{annotation_result|escapejs}}");
    </script>
    <script src="{% static '/js/annotation_page.js'%}" defer></script>
{% endblock %}

{% block title %} &#9702; Annotation{% endblock %}

{% block breadcrumbs %}
    <ol style="margin-top: 1%;"  class="breadcrumb bg-light py-0">
        <li class="breadcrumb-item"><a class="my-link" href="{% url 'index_page' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="my-link" href="{% url 'project_page' project.id %}">
                {% if project.title %}
                    {{ project.title}}
                {% else %}
                    Project #{{project.id}}
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Annotation</li>
    </ol>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% comment %}
        <!-- <div class="top-div">
            <img style="border: 2px solid #74deed; float: left;" src="{{ project.logo.url }}" width="30" height="30" data-toggle="modal" data-target="#informationModal" href="" title="{{ project.title }} information" class="rounded-circle">
            <i style="margin-top: .5%;" class="fas fa-angle-right fa-xs top-icons"></i>
            <a data-toggle="tooltip" data-target="top" title="Project instructions" class="my-link top-icons"><i style="cursor: pointer;" data-toggle="modal" data-target="#instructionsModal" class="fas fa-info"></i></a>
            <span style="float: right; margin-top: .2%;">
                {% if updated_at %}
                    <b>Last update: </b>{{ updated_at|date:"d-m-y" }}
                {% elif created_at %}
                    <b>Annotation created at: </b>{{ created_at|date:"d-m-y" }}
                {% endif %}
            </span>
        </div> -->
    {% endcomment %}

    <div style="text-align: center; margin-left: 1%; margin-right: 1%; margin-top: .5%;">
        {% if created_at %}
            {% if annotation_status == status_approved %}
                <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation review status" class="badge badge-pill badge-success">Approved</span>
            {% elif annotation_status == status_rejected %}
                <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation review status" class="badge badge-pill badge-danger">Rejected</span>
            {% else %}
                <span style="border: 1px solid black; cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation review status" class="badge badge-pill badge-light">Unreviewed</span>
            {% endif %}
        {% endif %}
        {% if created_at %}
            <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Task status" class="badge badge-pill badge-success">Annotated</span>
        {% else %}
            <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Task status" class="badge badge-pill badge-danger">Not annotated</span>
        {% endif %}
        
        <h2 style="cursor: default; display: inline;" class="headers-page">
            <span data-toggle="tooltip" data-placement="top" title="{{ task.original_file_name }}">
                Task: {{ task.original_file_name }}
            </span>
            <sup>
                <i style="cursor: pointer; color: #007bff;" data-toggle="modal" data-target="#annotationPageModal" class="far fa-question-circle tooltip-icons fa-xs"></i>
            </sup>
        </h2>
    </div>
    

    <div id="header-div">
        {% comment %}
            <!-- <a style="color: black; margin-right: 1%;" data-toggle="tooltip" data-placement="top" title="Back to project page" href="{% url 'project_page' project.id %}" class="btn my-button"><i style="margin-right: 10%;" class="fas fa-caret-left"></i> Back</a> -->
        {% endcomment %}
        {% if updated_at %}
            <span data-toggle="tooltip" data-placement="top" title="{{ updated_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                <b>Last update: </b>{{ updated_at|date:"D d M Y" }}
            </span>
        {% elif created_at %}
            <span data-toggle="tooltip" data-placement="top" title="{{ created_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                <b>Annotation created at: </b>{{ created_at|date:"D d M Y" }}
            </span>
        {% endif %}
        
    </div>

    <div style="margin-top: .5%;"  class="container-fluid">
        <div class="row">

            <div class="col p-0" id="left-main-div" >
                {% if labels_count %}
                    <div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <h4 class="headers-page">Regions</h>
                                </div>
                                <a title="Remove all regions" id="remove_all_regions" style="float: right; margin-right: 2%; color: #d9534f; display: none;" href=""><i  class="fas fa-times fa-lg"></i></a>
                                <hr class="mt-0 mb-4">
                                <div class="container" id="regions-div" role="tablist">

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            

            <div class="col-sm-10 p-0" id="right-main-div">
                {% if labels_count %}
                    <div id="labels-div">
                        {% for label in labels.all %}
                            <button style="background-color: {{ label.color }}; opacity: 0.2" class="badge my-badge badge-pill" value="{{ label.name }}" onclick="selectedLabel(this)">{{ label.name }}</button>
                        {% endfor %}
                    </div>
                {% endif %}
                <div id="wave-timeline"></div>
                <div id="waveform"></div>
                <div id="play-pause-btn-div">
                    <button title="Play/Pause audio" id="play-pause-button" class="btn btn-primary play-pause-buttons" onclick="wavesurfer.playPause(); toggleIcon(this);"> <i style="margin-right: 10%;" class="fas fa-play fa-sm"></i> Play</button>
                    {% comment %}
                        <button style="margin-left: 1%;" class="btn my-button play-pause-buttons" onclick="backwardAudio();"><i class="fas fa-backward"></i></button>
                    {% endcomment %}
                    <i style="margin-left: 1%;" class="fas fa-search-minus"></i>
                    <input style="width: 400px; margin-top: 1%; margin-left: .5%;" type="range" class="custom-range" min="0" max="200" step=1 value=0 id="zoom-slider">
                    <i style="margin-left: .5%;" class="fas fa-search-plus"></i>
                    <input style="width: 100px; margin-top: 1%; margin-left: .5%;" type="range" class="custom-range" oninput="toggleSoundIcon(this);" min="0" max="1" step=0.1 value=1 id="sound-slider">
                    <a style="color: black;" title="Mute" href="" id="mute-unmute-btn"><i id="sound-slider-icon" style="margin-left: .5%;" class="fas fa-volume-up"></i></a>
                    <select onchange="changeSpeed(this)" style="margin-left: 1%; width: 120px;" class="selectpicker">
                          <option value=0.5>Speed 0.5</option>
                          <option value=0.75>Speed 0.75</option>
                          <option selected="selected" value=1>Speed 1.0</option>
                          <option value=1.25>Speed 1.25</option>
                          <option value=1.5>Speed 1.5</option>
                          <option value=2>Speed 2.0</option>
                    </select>
                    <a data-toggle="tooltip" data-placement="bottom" title="Delete selected region" style="display: none; margin-left: 2%; color: #d9534f; cursor: pointer;" id="delete-region-btn" href=""><i class="fas fa-trash"></i></a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Paly selected region" style="display: none; margin-left: 1%; color: #5cb85c; cursor: pointer;" id="play-region-btn" href=""><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: .5%;"  class="container-fluid">
        <div class="row">

            <div class="col p-0" id="left-main-div" >
                <div style="margin-left: 5%; margin-top: 4%;">
                    {% if project.users_can_see_other_queues %}
                        <span>All tasks: <b>{{ all_tasks_count }}</b></span><br>
                        <span>Annotated: <b>{{ annotated_tasks }}</b></span><br>
                        <span>Not annotated: <b>{{ not_annotated_tasks }}</b></span><br>
                        <span>
                            Task permissions
                            <sup>
                                <i style="color: #007bff; cursor: pointer;" data-toggle="modal" data-target="#publicQueues" class="far fa-question-circle tooltip-icons"></i>
                            </sup>
                            :
                            <i style="color:green; margin-right: 5%;" class="fas fa-check-circle fa-xs"></i>
                        <span>
                    {% else %}
                        <span>Assigned tasks</span><br>
                        <span>Annotated tasks</span><br>
                        <span>Not annotated tasks</span>
                    {% endif %}
                    <br>
                    
                </div>
            </div>
            

            <div id="annotation-btn-div" class="col-sm-10 p-0">
                <button title="Save annotation" class="btn btn-success annotation-buttons" onclick="submitAnnotation();"><i style="margin-right: 10%;" class="fas fa-save"></i> Save</button>
                {% if reviewer and review_created_at %}
                    <button class="btn btn-light annotation-buttons" type="button" data-toggle="collapse" data-target="#commentDiv" aria-expanded="false" aria-controls="collapseExample">
                        <i style="margin-right: 10%;" class="fas fa-eye"></i>Review
                    </button>
                {% endif %}
                {% if created_at %}
                    <a href="{% url 'delete_annotation' project.id task.id %}">
                        <button title="Delete annotation" class="btn btn-light annotation-buttons" id="delete-annotation-btn"><i class="fas fa-trash-alt"></i></button>
                    </a>
                {% endif %}
                {% if next_unlabeled_task_id == -1 %}
                    <button style="background: #CFD8DC;" class="btn annotation-buttons">Next <i style="margin-left: 10%; color: white;" class="fas fa-caret-right"></i></button>
                {% else %}
                    <a title="Next unlabeled task" href="{% url 'annotation_page' project.id next_unlabeled_task_id %}"><button class="btn btn-primary annotation-buttons">Next <i style="margin-left: 10%;" class="fas fa-caret-right"></i></button></a>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if reviewer and review_created_at %}
        <div class="collapse" id="commentDiv">
            <div class="card card-body">
                <div style="margin-bottom: .5%;">
                    <span style="cursor: default;" data-toggle="tooltip" data-target="top" title="{{ reviewer.email }}"><b>Reviewer:</b> {{ reviewer }}</span>
                    {% if review_updated_at %}
                        <span style="cursor: default; float: right;" data-toggle="tooltip" data-target="top" title="{{ reviewer.email }}"><b>Updated at:</b> {{ review_updated_at|date:"d-m-y" }}</span>
                    {% else %}
                        <span style="cursor: default; float: right;" data-toggle="tooltip" data-target="top" title="{{ reviewer.email }}"><b>Created at:</b> {{ review_created_at|date:"d-m-y" }}</span>
                    {% endif %}
                </div>
                {% if comment %}
                    <textarea style="resize: none;" readonly id="commentArea" class="form-control">{{ comment }}</textarea>
                {% else %}
                    <textarea style="resize: none;" readonly id="commentArea" class="form-control" placeholder="No comment for annotation.."></textarea>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% include "annotation_page_modal.html" %}
    <!-- Public queues Modal -->
    <div class="modal fade" id="publicQueues" tabindex="-1" role="dialog" aria-labelledby="publicQueues" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Users can see other queues</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div>
                        <b>When this field is set to true</b>, all tasks are assigned (visible) to all annotators of the project
                        and can be annotated by them.<br><br>
                        <b>When this field is set to false</b>, tasks are assigned to a specific annotator randomly and <b>only</b> him/her
                        can annotate them.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}