{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/annotation_page.css' %}" rel="stylesheet" type="text/css">

    <!-- wavesurfer.js -->
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- plugins -->
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.js"></script>

    <script type="text/javascript"> 
        var audio_url = "{{ task.file.url }}";
        var task_id = "{{ task.id }}";
        var project_id = "{{ project.id }}";
        var django_csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static '/js/annotation_page.js'%}" defer></script>
{% endblock %}

{% block title %} &#9702; Annotation{% endblock %}

{% block navbar_buttons %}
    <a title="Project instructions" style="margin-top: .7%;" class="my-button-page my-link" data-toggle="modal" data-target="#instructionsModal" href=""><i class="fas fa-info"></i></a>
    <a title="Project description" style="margin-top: .7%;" class="my-button-page my-link" data-toggle="modal" data-target="#descriptionModal" href=""><i class="fas fa-question-circle"></i></a>
{% endblock %}

{% block content %}
    <h1 class="headers-page">Annotate task {{ task.id }}</h1>
    {% if labels_count %}
        <div id="labels-div">
            {% for label in labels.all %}
                <button style="background-color: {{ label.color }};" class="badge my-badge badge-pill" value="{{ label.name }}" onclick="selectedLabel(this)">{{ label.name }}</button>
            {% endfor %}
        </div>
    {% endif %}
    <div id="wave-timeline"></div>
    <div id="waveform"></div>
    <button id="play-pause-button" class="btn my-button" onclick="wavesurfer.playPause(); toggleIcon(this);"> <i style="margin-right: 10%;" class="fas fa-play"></i> Play</button>

    <button class="btn btn-success my-button annotation-buttons" onclick="submitAnnotation();">Submit</button>
    {% if next_unlabeled_task_id == -1 %}
        <a title="Next unlabeled task" href="{% url 'annotation_page' project.id task.id %}"><button class="btn my-button annotation-buttons">Next <i style="margin-left: 10%;" class="fas fa-caret-right"></i></button></a>
    {% else %}
        <a title="Next unlabeled task" href="{% url 'annotation_page' project.id next_unlabeled_task_id %}"><button class="btn my-button annotation-buttons">Next <i style="margin-left: 10%;" class="fas fa-caret-right"></i></button></a>
    {% endif %}
    <a title="Back to project page" href="{% url 'project_page' project.id %}"><button class="btn my-button annotation-buttons"><i style="margin-right: 10%;" class="fas fa-caret-left"></i> Back</button></a>
    {% include "project_modals.html" %}
{% endblock %}