{% extends "base.html" %}

{% block title %} &#9702; Delete {{ project.title }} {% endblock %}

{% block breadcrumbs %}
    <ol style="margin-top: 1%;"  class="breadcrumb bg-light py-0">
        <li class="breadcrumb-item"><a class="my-link" href="{% url 'index_page' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="my-link" href="{% url 'project_page' project.id %}">
                {% if project.title %}
                    {{ project.title}}
                {% else %}
                    Project #{{project.id}}
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container centered">
    <div class="row justify-content-center">
      <div class="user-form-wrap col-6">
        <h2 class="form-headers">Delete project</h2>
        <hr class="mt-0 mb-4">
        <p>Are you sure you want to delete {{ project.title }}?</p>
        <form method="POST" action="{% url 'delete_project' project.id %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          
          <button class="btn btn-danger my-button" type="submit">Yes</button>
          <a style="color: white;" class="btn my-button" href="{% url 'index_page' %}">No</a>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
