{% extends "base.html" %}

{% load static %}

{% block head_files%}
    {{ block.super }}
    <script type="text/javascript"> var project_id = "{{ project.id }}"; </script>
    <script src="{% static '/js/edit_project.js'%}"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block title %} &#9702; Edit {{ project.title }}{% endblock %}

{% block content %}
    <div class="container centered">
        <div class="row justify-content-center">
            <div class="col-6 user-form-wrap">
                <h1>Edit project</h1>
                <hr class="mt-0 mb-4">
                <form enctype="multipart/form-data" action="" method="POST">
                {% csrf_token %}
                {{ form | crispy}}
                <button class="btn my-button" type="submit">Save</button>
                <a title="Back to projects page" class="btn btn-danger my-button annotation-buttons" href="{% url 'index_page' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}