{% extends "base.html" %}

{% load static %}

{% block avatar %} 
	<img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
{% endblock %}

{% block avatar_inner %}
	<img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
{% endblock %}

{% block title %} Label Buddy{% endblock %}

{% block content %}
	<h3>{{ user }} Dashboard</h3>

	<ul>
		{% for project in projects %}
			<li><a href="/api/v1/projects/{{project.id}}">{{project.title}}</a></li>
		{% endfor %}
	</ul>
	
{% endblock %}
