{% extends "base.html" %}

{% load static %}

{% block head_files%}
    {{ block.super }}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Label Buddy {% endblock %}

{% block content %}
	{% if user.is_authenticated%}
		{% if projects %}
			<h1 style="text-align:center">Projects you are involved</h1>
			{% if user.can_create_projects %}
				<a href="{% url 'create_project'%}">
					<button class="btn my-button my-button-page">Create</button>
				</a>
			{% endif %}
			
			<div class="my-custom-scrollbar table-wrapper-scroll-y ">
				<!--Table-->
				<table class="table table-bordered table-striped table-hover">
				<!--Table head-->
				<thead>
					<tr>
					<th><i class="fa fa-caret-right my-table-header" aria-hidden="true"></i> Title</th>
					<th><i class="fa fa-calendar my-table-header" aria-hidden="true"></i> Date of Creation</th>
					<th><i class="fa fa-tasks my-table-header" aria-hidden="true"></i> Number of tasks</th>
					<th><i class="fa fa-paint-brush my-table-header" aria-hidden="true"></i> Number of annotations</th>
					<th><i class="fa fa-user my-table-header" aria-hidden="true"></i> Annotator</th>
					<th><i class="fa fa-user my-table-header" aria-hidden="true"></i> Reviewer</th>
					<th><i class="fa fa-users my-table-header" aria-hidden="true"></i> Managers</th>
					</tr>
				</thead>
				<!--Table head-->

				<!--Table body-->
				<tbody>
					{% for project in page_obj %}
					
						<tr class="clickable-row" href="{% url 'project_page' project.id %}">
							<td>
								{% if project.logo %}
								<img style="margin-right: 4%;" src="{{ project.logo.url }}" width="27" height="27" title="You" class="rounded-circle">
								{% else %}
								<img style="margin-right: 4%;" src="{% static '/images/project_logo_not_found.png' %}" width="27" height="27" title="{{ project.title }}" class="rounded-circle">
								{% endif %}
								{{ project.title }}
							</td>
							<td>{{ project.created_at|date:"d-m-y"}}</td>
							<td><b>{{ tasks_count|get_item:project.id }}</b></td>
							<td><b>{{ annotations_count|get_item:project.id }}</b></td>

							{% if user in project.annotators.all %}
								<td title="Annotator for this project"><i title="Annotator for this project" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
							{% else %}
								<td title="Not an annotator for this project"><i title="Not an annotator for this project" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
							{% endif %}

							{% if user in project.reviewers.all %}
								<td title="Reviewer for this project"><i title="Reviewer for this project" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
							{% else %}
								<td title="Not a reviewer for this project"><i title="Not a reviewer for this project" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
							{% endif %}
							<td>
								{% for obj in project.managers.all %}
									{% if obj.avatar %}
										{% if obj == user %}
											<img style="border: 2px solid #74deed;" src="{{ obj.avatar.url }}" width="27" height="27" title="You" class="rounded-circle">
										{% else %}
											<img src="{{ obj.avatar.url }}" width="25" height="25" title="{{ obj.username }}" class="rounded-circle">
										{% endif %}
									{% else %}
										{% if obj == user%}
											<img style="border: 2px solid #74deed;" src="{% static '/images/user/user.jpg' %}" width="27" height="27" title="You" class="rounded-circle">
										{% else %}
											<img src="{% static '/images/user/user.jpg' %}" width="25" height="25" title="{{ obj.username }}" class="rounded-circle">
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					
					{% endfor %}
				</tbody>
				<!--Table body-->
			</table>
			{% else %}
				<h1 style="text-align:center">No projects for you yet</h1>
				{% if user.can_create_projects %}
					<a href="{% url 'create_project'%}">
						<button class="btn my-button my-button-page">Create</button>
					</a>
				{% endif %}
			{% endif %}

			{% if projects_count > projects_per_page %}
				{% include "pagination.html" %}
			{% endif %}
	{% else %}
		<div class="center-screen">
			<h1>Welcome to Label Buddy</h1>
			<p>Please <a class="my-link" href="/accounts/login">sign in</a> to continue
			</p>
		</div>
	{% endif %}
{% endblock %}