{% extends 'base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/project_page.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static '/js/project_page.js'%}"></script>
{% endblock %}

{% block title %} &#9702; {{project.title}} {% endblock %}

{% block navbar_buttons %}
    <a title="Project instructions" style="margin-top: .7%;" class="my-button-page my-link" data-toggle="modal" data-target="#instructionsModal" href=""><i class="fas fa-info"></i></a>
    <a title="Project description" style="margin-top: .7%;" class="my-button-page my-link" data-toggle="modal" data-target="#descriptionModal" href=""><i class="fas fa-question-circle"></i></a>
{% endblock %}

{% block content %}
    {% if tasks_count_no_filter > 0 %}
        <h1 style="text-align:center">Tasks for {{ project.title }}</h1>
        {% if user in project.managers.all%}
            <a data-toggle="modal" data-target="#importModal" href="">
                <button class="btn my-button my-button-page">Import</button>
            </a>
            <a href="{% url 'edit_project' project.id %}">
                <button style="margin-right: .1%;" class="btn my-button my-button-page">Edit</button>
            </a>
            {% include "filters.html" %}
            <a href="{% url 'delete_project' project.id %}">
                <button style="margin-right: .1%;" class="btn btn-danger my-button my-button-page">Delete</button>
            </a>
        {% else %}
            <a data-toggle="modal" data-target="#importModal" href="">
                <button class="btn my-button my-button-page">Import</button>
            </a>
            {% include "filters.html" %}
        {% endif %}
        <div class="my-custom-scrollbar table-wrapper-scroll-y">
            <!--Table-->
            <table class="table table-bordered table-hover">
            <!--Table head-->
            <thead>
                <tr>
                    <th title="Task ID"><i class="fas fa-hashtag my-table-header"></i> ID</th>
                    <th><i class="fa fa-caret-right my-table-header" aria-hidden="true"></i> Title</th>
                    <th><i class="fa fa-paint-brush my-table-header" aria-hidden="true"></i> Annotations completed</th>
                    <th><i class="fas fa-users my-table-header"></i> Annotated by</th>
                    <th><i class="fas fa-file-audio my-table-header"></i> Audio file</th>
                    <th><i class="fas fa-check-circle my-table-header"></i> Status</th>
                    <th><i class="fas fa-check-circle my-table-header"></i> Review status</th>
                </tr>
            </thead>
            <!--Table head-->
            {% for task in page_obj %}
                <!--Table body-->
                <tbody>
                    <tr class="clickable-row" href="{% url 'annotation_page' project.id task.id %}">
                        <td>{% get_table_id page_obj.number tasks_per_page forloop.counter %}</td>
                        {% if task.file %}
                            <td title="{{ task.file }}" class="table-title">{{ task.file }}</td>
                        {% else %}
                            <td><b>-</b></td>
                        {% endif %}
                        <td><b>{{ count_annotations_for_task|get_item:task.id }}</b></td>
                        <td>
                            {% if users_annotated|get_item:task.id%}
                                {% for obj in users_annotated|get_item:task.id %}
                                    {% if obj.avatar %}
                                        {% if obj == user %}
                                            <img style="border: 2px solid #74deed;" src="{{ obj.avatar.url }}" width="27" height="27" title="You" class="rounded-circle">
                                        {% else %}
                                            <img src="{{ obj.avatar.url }}" width="25" height="25" title="{{ obj.username }}" class="rounded-circle">
                                        {% endif %}
                                    {% else %}
                                        {% if obj == user%}
                                            <img style="border: 2px solid #74deed;" src="{% static '/images/user/user.jpg' %}" width="27" height="27" title="You" class="rounded-circle">
                                        {% else %}
                                            <img src="{% static '/images/user/user.jpg' %}" width="25" height="25" title="{{ obj.username }}" class="rounded-circle">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <b>-</b>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.file %}
                                <audio title="{{ task.file }}" class="audio-player" controls
                                    src="{{ task.file.url }}">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            {% else %}
                                <b>-</b>
                            {% endif %}
                        </td>
                        {% if task.status == labeled %}
                            <td title="Labeled"><i title="Labeled" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                        {% else %}
                            <td title="Unlabeled"><i title="Unlabeled" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
                        {% endif %}
                        
                        {% if task.review_status == reviewed %}
                            <td title="Reviewed"><i title="Reviewed" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                        {% else %}
                            <td title="Unreviewed"><i title="Unreviewed" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
                        {% endif %}
                        
                    </tr>
                </tbody>
                <!--Table body-->
            {% endfor %}
        </table>
    {% else %}
        {% if user in project.managers.all%}
            <a href="{% url 'edit_project' project.id %}">
                <button style="margin-right: 1%; margin-top: 1%;" class="btn my-button my-button-page">Edit</button>
            </a>
            <a href="{% url 'delete_project' project.id %}">
                <button style="margin-right: .1%; margin-top: 1%;" class="btn btn-danger my-button my-button-page">Delete</button>
            </a>
        {% endif %}
        <div class="center-screen">
            <p>No tasks for {{ project.title }}. Please <a class="my-link" data-toggle="modal" data-target="#importModal" href="">import</a> some data.
            </p>
        </div>
    {% endif%}

    {% if tasks_count_filtered > tasks_per_page %}
        {% include "pagination.html" %}
    {% endif %}

    {% include "project_modals.html" %}

    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Import data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <p>This file is for the annotation process. The accepted formats are: <b>.wav, .mp3, .mp4 and .zip</b></p>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                    {{ task_form | crispy}}
                    <button id="import-btn" class="btn my-button" type="submit">Upload</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}