{% extends 'base.html' %}

{% load static%}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/project_page.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript"> 
        var project_id = "{{ project.id }}";
        var django_csrf_token = "{{ csrf_token }}";
        var host = "{{ host }}";
    </script>
    <script src="{% static '/js/project_page.js'%}"></script>
{% endblock %}

{% block title %} &#9702; {{project.title}} {% endblock %}

{% block navbar_buttons %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% comment %}
    <div class="alert alert-success alert-dismissible fade" id="export_success_alert" role="alert">
        <i style="margin-right: .5%;" class="fas fa-check-circle"></i><strong>Hello</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade" id="export_fail_alert" role="alert">
        <i style="margin-right: .5%;" class="fas fa-times-circle"></i><strong></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endcomment %}
    <div class="top-div">
        <a href="{% url 'index_page' %}"><img style="border: 2px solid #74deed; float: left;" src="{{ project.logo.url }}" width="30" height="30" href="{% url 'index_page' %}" title="Projects page" class="rounded-circle"></a>
        <i style="margin-top: .4%;" class="fas fa-angle-right top-icons"></i>
        <a title="Project instructions" class="my-link top-icons" data-toggle="modal" data-target="#instructionsModal" href=""><i class="fas fa-info"></i></a>
        <a title="Project description" style="margin-left: 1%;" class="my-link top-icons" data-toggle="modal" data-target="#descriptionModal" href=""><i class="fas fa-question-circle"></i></a>
    </div>
    {% if tasks_count_no_filter > 0 %}

        <h2 class="headers-page">{{ project.title }}</h2>
        <div id="header-div">
            <button style="color: black; float: right;" data-toggle="modal" data-target="#exportModal" class="btn my-button">
                Export
            </button>
            <button style="color: black; float: right; margin-right: 1%;" data-toggle="modal" data-target="#importModal" class="btn my-button">
                Import
            </button>
            {% include "filters.html" %}
        </div>
        <div class="table-div">
            <!--Table-->
            <table class="table table-bordered table-hover">
            <!--Table head-->
            <thead>
                <tr>
                    <th style="width: 100px;" title="Task ID"><i class="fas fa-hashtag my-table-header"></i> ID</th>
                    <th><i class="fa fa-caret-right my-table-header" aria-hidden="true"></i> Title</th>
                    <th><i class="fa fa-paint-brush my-table-header" aria-hidden="true"></i> Annotations completed</th>
                    <th><i class="fas fa-users my-table-header"></i> Annotated by</th>
                    <th><i class="fas fa-file-audio my-table-header"></i> Audio file</th>
                    <th><i class="fas fa-check-circle my-table-header"></i> Status</th>
                    <th><i class="fas fa-check-circle my-table-header"></i> Review status</th>
                </tr>
            </thead>
            <!--Table head-->
            {% for task in page_obj %}
                <!--Table body-->
                <tbody>
                    <tr class="clickable-row" href="{% url 'annotation_page' project.id task.id %}">
                        <td>{% get_table_id page_obj.number tasks_per_page forloop.counter %}</td>
                        {% if task.file %}
                            <td title="{{ task.original_file_name }}" class="table-title">{{ task.original_file_name }}</td>
                        {% else %}
                            <td><b>-</b></td>
                        {% endif %}
                        <td><b>{{ count_annotations_for_task|get_item:task.id }}</b></td>
                        <td>
                            {% if users_annotated|get_item:task.id%}
                                {% for obj in users_annotated|get_item:task.id %}
                                    {% if obj == user %}
                                        <img style="border: 2px solid #74deed;" src="{{ obj.avatar.url }}" width="27" height="27" title="You" class="rounded-circle">
                                    {% else %}
                                        <img src="{{ obj.avatar.url }}" width="25" height="25" title="{{ obj.username }}" class="rounded-circle">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <b>-</b>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.file %}
                                <audio title="{{ task.file }}" class="audio-player" controls
                                    src="{{ task.file.url }}">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                </audio>
                            {% else %}
                                <b>-</b>
                            {% endif %}
                        </td>
                        {% if task.status == labeled %}
                            <td title="Labeled"><i title="Labeled" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                        {% else %}
                            <td title="Unlabeled"><i title="Unlabeled" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
                        {% endif %}
                        
                        {% if task.review_status == reviewed %}
                            <td title="Reviewed"><i title="Reviewed" style="color:green" class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                        {% else %}
                            <td title="Unreviewed"><i title="Unreviewed" style="color:red" class="fa fa-thumbs-down" aria-hidden="true"></i></td>
                        {% endif %}
                        
                    </tr>
                </tbody>
                <!--Table body-->
            {% endfor %}
        </table>
    {% else %}
        <h2 style="text-align:center; margin-top: .5%;">
            No tasks for {{ project.title }}. Please <a class="my-link" data-toggle="modal" data-target="#importModal" href="">import</a> some data.
        </h2>
    {% endif%}

    {% if tasks_count_filtered > tasks_per_page %}
        {% include "pagination.html" %}
    {% endif %}

    {% include "project_modals.html" %}
    {% include "import_modal.html" %}
    {% include "export_modal.html" %}
{% endblock %}