{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/review_page.css' %}" rel="stylesheet" type="text/css">

    <!-- wavesurfer.js -->
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!-- plugins -->
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.js"></script>

    <script type="text/javascript"> 
        var audio_url = "{{ task.file.url }}";
        var task_id = "{{ task.id }}";
        var project_id = "{{ project.id }}";
        var annotation = JSON.parse("{{annotation_result|escapejs}}");
        var django_csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static '/js/review_page.js'%}" defer></script>
{% endblock %}

{% block title %} &#9702; Review{% endblock %}

{% block breadcrumbs %}
    <ol style="margin-top: 1%;"  class="breadcrumb bg-light py-0">
        <li class="breadcrumb-item"><a class="my-link" href="{% url 'index_page' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="my-link" href="{% url 'project_page' project.id %}">
                {% if project.title %}
                    {{ project.title}}
                {% else %}
                    Project #{{project.id}}
                {% endif %}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a class="my-link" href="{% url 'list_task_annotations' project.id task.id %}">
                Annotations
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Review</li>
    </ol>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% comment %}
        <!-- <div class="top-div">
            Annotator
            <i style="margin-top: .6%; margin-left: 1%; margin-right: 1%;" class="fas fa-angle-right fa-xs"></i>
            <img style="border: 2px solid #74deed;" data-toggle="tooltip" data-placement="top" src="{{ annotation.user.avatar.url }}" width="25" height="25" title="{{ annotation.user.email }}" class="rounded-circle">
            {{ annotation.user.name }}
            {% if annotation.updated_at %}
                <span data-toggle="tooltip" data-target="left" title="{{annotation.created_at|date:'d-m-y H:m:s'}}" style="float: right; margin-top: .2%; cursor: default;">
                    <b>Last annotation update: </b>{{ annotation.updated_at|date:"d-m-y" }}
                </span>
            {% else %}
                <span data-toggle="tooltip" data-target="left" title="{{annotation.created_at|date:'d-m-y'}}" style="float: right; margin-top: .2%; cursor: default;">
                    <b>Annotation created at: </b>{{ annotation.created_at|date:"d-m-y" }}
                </span>
            {% endif %}
        </div> -->
    {% endcomment %}

    <div style="text-align: center; margin-left: 1%; margin-right: 1%; margin-top: .5%;">
        {% if annotation.review_status == status_approved %}
            <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation status" class="badge badge-pill badge-success">Approved</span>
        {% elif annotation.review_status == status_rejected %}
            <span style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation status" class="badge badge-pill badge-danger">Rejected</span>
        {% else %}
            <span style="border: 1px solid black; cursor: default;" data-toggle="tooltip" data-placement="top" title="Annotation status" class="badge badge-pill badge-light">Unreviewed</span>
        {% endif %}
        <h2 style="cursor: default; display: inline;" class="headers-page">
            <span data-toggle="tooltip" data-placement="top" title="{{ task.original_file_name }}">Review annotation</span>
            <sup>
                <i style="cursor: pointer; color: #74deed;" data-toggle="modal" data-target="#reviewPageModal" class="far fa-question-circle tooltip-icons fa-xs"></i>
            </sup>
        </h2>
    </div>

    <div id="header-div">
        {% comment %}
            <!-- <a style="color: black;" data-toggle="tooltip" data-placement="top" title="Back to annotations page" href="{% url 'list_task_annotations' project.id task.id %}" class="btn my-button"><i style="margin-right: 10%;" class="fas fa-caret-left"></i> Back</a> -->
        {% endcomment %}
        {% if annotation.updated_at %}
            <span data-toggle="tooltip" data-placement="top" title="{{ annotation.updated_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                <b>Last annotation update: </b>{{ annotation.updated_at|date:"D d M Y" }}
            </span>
        {% else %}
            <span data-toggle="tooltip" data-placement="top" title="{{ annotation.created_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                <b>Annotation created at: </b>{{ annotation.created_at|date:"D d M Y" }}
            </span>
        {% endif %}
    </div>

    <div style="margin-top: .5%;"  class="container-fluid">
        <div class="row">

            <div class="col p-0" id="left-main-div" >
                {% if labels_count %}
                    <div>
                        <div class="row">
                            <div class="col">
                                <div id="regions-header">
                                    Regions
                                    
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="container" id="regions-div" role="tablist">

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            

            <div class="col-sm-10 p-0" id="right-main-div">
                {% if labels_count %}
                    <div id="labels-div">
                        {% for label in labels.all %}
                            <button style="background-color: {{ label.color }}; opacity: 0.2;" class="badge my-badge badge-pill" value="{{ label.name }}" onclick="selectedLabel(this)">{{ label.name }}</button>
                        {% endfor %}
                    </div>
                {% endif %}
                <div id="wave-timeline"></div>
                <div id="waveform"></div>
                <div id="play-pause-btn-div">
                    <button title="Play/Pause audio" id="play-pause-button" class="btn my-button play-pause-buttons" onclick="wavesurfer.playPause(); toggleIcon(this);"> <i style="margin-right: 10%;" class="fas fa-play fa-sm"></i> Play</button>
                    {% comment %}
                        <button style="margin-left: 1%;" class="btn my-button play-pause-buttons" onclick="backwardAudio();"><i class="fas fa-backward"></i></button>
                    {% endcomment %}
                    <i style="margin-left: 1%;" class="fas fa-search-minus"></i>
                    <input style="width: 400px; margin-top: 1%; margin-left: .5%;" type="range" class="custom-range" min="0" max="200" step=1 value=0 id="zoom-slider">
                    <i style="margin-left: .5%;" class="fas fa-search-plus"></i>
                    <input style="width: 100px; margin-top: 1%; margin-left: .5%;" type="range" class="custom-range" oninput="toggleSoundIcon(this);" min="0" max="1" step=0.1 value=1 id="sound-slider">
                    <a style="color: black;" title="Mute" href="" id="mute-unmute-btn"><i id="sound-slider-icon" style="margin-left: .5%;" class="fas fa-volume-up"></i></a>
                    <select onchange="changeSpeed(this)" style="margin-left: 1%; width: 120px;" class="selectpicker">
                          <option value=0.5>Speed 0.5</option>
                          <option value=0.75>Speed 0.75</option>
                          <option selected="selected" value=1>Speed 1.0</option>
                          <option value=1.25>Speed 1.25</option>
                          <option value=1.5>Speed 1.5</option>
                          <option value=2>Speed 2.0</option>
                    </select>
                    <a title="Paly selected region" style="display: none; margin-left: 1%; color: #5cb85c;" id="play-region-btn" href=""><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>

    
    <div id="review-btn-div">
        <button title="Approve annotation" class="btn btn-success my-button review-buttons" value="APPROVE" onclick="submitReview(this);"><i style="margin-right: 1%;" class="fas fa-thumbs-up"></i> Approve</button>
        {% if reviewer %}
            <button title="Delete review" class="btn btn-light my-button review-buttons" id="delete-annotation-btn" value="DELETE" onclick="submitReview(this);"><i class="fas fa-trash-alt"></i></button>
        {% endif %}
        <button title="Reject annotation" class="btn btn-danger my-button review-buttons" value="REJECT" onclick="submitReview(this);"><i style="margin-right: 1%;" class="fas fa-thumbs-down"></i> Reject</button>
    </div>

    {% if reviewer %}
        <div id="review-date-div">
            {% if review_updated_at %}
                <span data-toggle="tooltip" data-placement="top" title="{{ review_updated_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                    <b>Last review update: </b>{{ review_updated_at|date:"D d M Y" }}
                </span>
            {% else %}
                <span data-toggle="tooltip" data-placement="top" title="{{ review_created_at|date:'d M y, H:i:s' }}" style="cursor: default;">
                    <b>Review created at: </b>{{ review_created_at|date:"D d M Y" }}
                </span>
            {% endif %}
        </div>
    {% endif %}

    {% if reviewer %}
        <div id="commentDiv">
    {% else %}
        <div id="commentDiv" style="margin-top: 1%;">
    {% endif %}
        {% if comment %}
            <textarea id="commentArea" class="form-control" placeholder="Review comment here...">{{ comment }}</textarea>
        {% else %}
            <textarea id="commentArea" class="form-control" placeholder="Review comment here..."></textarea>
        {% endif %}
        
    </div>
    
    {% include 'review_page_modal.html' %}
{% endblock %}