{% extends 'base.html' %}

{% load static %}

{% block head_files %}
    {{ block.super }}
    <link href="{% static 'css/welcome_page.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static '/js/welcome_page.js'%}" defer></script>
{% endblock %}

{% block title %} &#9702; Welcome {% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<div id="welcomeDiv" class="center-screen">
    WELCOME TO
    <img style="width: 20vw;" src="{% static '/images/favicons/new_logo.svg' %}" alt="Logo">
</div>
{% endblock %}
{% block footer %}{% endblock %}